@import "tailwindcss";

/* LIGHT MODE */
:root {
  /* Backgrounds */
  --bg-main: #FEFAE0;          /* Cornsilk */
  --bg-secondary: #FAEDCD;     /* Papaya Whip */
  --bg-gradient: linear-gradient(
    135deg,
    #FEFAE0,
    #E9EDC9,
    #CCD5AE
  );

  /* Text */
  --text-main: #3a3a3a;
  --text-secondary: #6b6b6b;

  /* Accent Colors (Orangish) */
  --accent-primary: #ff8420;   /* Bright Orange */
  --accent-secondary: #F97316; /* Soft Orange */

  /* Borders */
  --border-light: #E9EDC9;
}

/* DARK MODE */
.dark {
  /* Backgrounds */
  --bg-main: #111111;
  --bg-secondary: #24261f;
  --bg-gradient: linear-gradient(
    135deg,
    #1c1e18,
    #2c2f25,
    #3a3f32
  );

  /* Text */
  --text-main: #FAEDCD;
  --text-secondary: #E9EDC9;

  /* Accent Colors (Brighter for dark) */
  --accent-primary: #ff8229;
  --accent-secondary: #FB923C;

  /* Borders */
  --border-light: #3a3f32;
}

/* SMOOTH TRANSITION  */
* {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}

@font-face {
  font-family: "Heading";
  src: url("./assets/fonts/Marcellus.ttf") format("truetype");
  font-display: swap;
}

.heading-font {
  font-family: "Heading", sans-serif;

  font: italic;
}

::-webkit-scrollbar {
  display: none;
}

/* Autofill Transparent background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--text-main);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--text-main);
}
